/* .JS{
text-align: center;
position: relative;
top: 200px;
}
h2{   
    background-color: black;  
    color: white;
  padding: 20px;
  margin: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p{
    background-color:darkcyan;
    padding: 20px;
    color: white;
    font-size: 20px;
    margin: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */